body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;

}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both; /* это clearfix ставить по центру название и описание */
}

header {
	background: url(../img/first1.png) no-repeat center top / cover;
	padding-bottom: 300px;
}

.container {
	width: 1300px;
	margin: 0 auto;
}

.logo {
	margin-top: 52px;
	float: left;
}



nav {
	float: right;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 50px;  /* отступы в li */
	font-size: 20px;
	margin-top: 50px;
}

.menu li a {
	color: purple;
	text-decoration: none;  /* чтобы не было нижних подчерков */
	text-transform: uppercase;
}

.menu a:hover {
	color: white;
}

.titles_first {
	font-size: 80px;
	margin-top: 150px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
}

h1 {
	font-size: 25px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	margin: 30px;
}

.button {
	background-color: brown;
	color: white;
	font-size: 30px;
	border-radius: 20px;
	display: block;
	width: 140px;
	padding: 10px 0;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 50px;
}

.button:hover {
	color: red;
}

.title {
	text-align: center;
	font-family: bold;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;         /* делает большие буквы */
	color: #333649;
	font-family: Proba Pro, sans-serif;
}

.title h1 {
	font-size: 40px;
	color: black;
}

.title h2 {
	text-decoration: underline;
}

.image2 {
	display: block;
	margin: auto;
	padding: 50px 200px 40px 20px;
	float: right;
}

.image1 {
	display: block;
	margin: 0 40px 0 0px;
	padding: 30px 100px 0 90px;
	float: left;
}


.blog {
	font-size: 70px;
	text-align: center;
}

footer {
	color: white;
	background-color: #222;
	padding: 100px 0 18px 0;
	border-top: 1px solid #000;
	text-align: center;
}

footer a {
	color: #999;
}

footer a:hover {
	color: white;
}

.clear {
	clear: both;
	height: 100px;
}









